.App {
  text-align: center;
  overflow: auto;

}

.App-header {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stratifyd-logo {
  width: 18%;
  margin-right: 1%;
}

.App-title {
  font-size: 32px;
  font-weight: 300;
  margin-left: 1%;
  line-height: 2;
}
