.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  /* padding: 20px; */
  color: white;
  display: flex;
  justify-content: center;
}

.stratifyd-logo {
  width: 18%;
  margin-right: 1%;
}

.App-title {
  font-size: 32px;
  font-weight: 300;
  margin-left: 1%;
  line-height: 2;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
