* {
    list-style: none;
    padding: 0%;
}

.table {
    display: flex;
    justify-content: center;
}

.table-header {
    font-weight: bold;
}

.table-column {
    width: 25%;
}

.table-data {
    height: 100px;
    border: 1px solid black;
}

.table-data-content {
    height: 100px;
    border: 1px solid black;
    overflow: scroll;
}
